/*
COLORS:
#9CDAFF
#C568A5
#FFD265
#BCFF7C
#CD94FF
#444243
*/

.Home {
  height: 450px;
  z-index: 2;
  margin-bottom: -6em;
  background: radial-gradient(ellipse farthest-corner at 75vw -50vw, white, #32183E 65%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  transform: perspective(300px) scaleY(1) rotateX(50deg) skewX(0deg);
}
