/*
COLORS:
#9CDAFF
#C568A5
#FFD265
#BCFF7C
#CD94FF
#444243
*/

.Home {
  height: 35vw;
  max-height: 75vw;
  z-index: 5;
  margin-top: 18vw;
  background: radial-gradient(ellipse farthest-corner at 118vw -40vw, white, #32183E 65%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  transform: perspective(400px) scaleY(1) rotateX(50deg) skewX(0deg);
}

@media (max-width: 420px) {
  .Home {
    display: none;
  }
}
