/*
COLORS:
#9CDAFF
#C568A5
#FFD265
#BCFF7C
#CD94FF
#444243
*/

.Square {
  z-index: 1;
  width: 8em;
  height: 4em;
  border: 1px solid #C568A5;
  -webkit-box-shadow: 0px 0px 27px 5px #B72569;
  -moz-box-shadow: 0px 0px 27px 5px #B72569;
  box-shadow: 0px 0px 27px 5px #B72569;
}

.Square:hover {
  background: #C568A5;
}
