/*
COLORS:
#9CDAFF
#C568A5
#FFD265
#BCFF7C
#CD94FF
#444243
#32183E
#12172D
*/

.App {
  text-align: center;
  background: #12172D;
  width: 100vw;
  height: 100vh;
  display: flex;
	z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selected {
  border-bottom: 1px solid #9CDAFF;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 20em;
	z-index: 2;
}

@keyframes colors {
  0%, 100% {
    color: #FFD265;
  }
  25% {
    color: #CD94FF;
  }
  50% {
    color: #9CDAFF;
  }
}

.nav a {
  color: #FFD265;
  padding: 1em;
  font-size: 1.5em;
}

.nav a:hover {
  color: #9CDAFF;
  border-bottom: 2px solid #CD94FF;
  animation: colors 1s infinite;
}

.nav .navlink {
  border: 1px solid transparent;
  text-decoration: none;
  padding: .97em;
  color: #FFD265;
}

.nav .navlink:hover {
  color: #9CDAFF;
}

.starContainer {
	z-index: 1;
	position: absolute;

	height: 120%;
  width: 100%;

  top: -15%;
  left: 0%;
	margin-top: (25% / 2);
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
    transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
    transform: rotate(360deg);
	}
}

@-ms-keyframes rotate {
  0% {
		-webkit-transform: rotate(0deg);
    transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
    transform: rotate(360deg);
	}
}

@-moz-keyframes rotate {
  0% {
		-webkit-transform: rotate(0deg);
    transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
    transform: rotate(360deg);
	}
}
